.pagination {
    display: flex;
    align-items: center;
}

.pagination span {
    font-family: sans-serif;
    margin-right: 15px;
    font-size: 14px;
}

.pagination .MuiSvgIcon-root {
    font-size: 2rem;
    cursor: pointer;
    color: #393939;
}

.pagination .MuiSvgIcon-root:hover {
    color: var(--primary-color);
}