.slider {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    height: 100%;
    position: relative;
}

.slider__image {
    object-fit: cover;
    border-radius: 7px;
    height: 100%;
}

.slider .MuiSvgIcon-root {
    font-size: 5rem;
    color: rgb(179, 179, 179);
    cursor: pointer;
    z-index: 10;
    position: absolute;
    margin: 10px;
    background-color: rgba(0, 0, 0 , 0.5);
    border-radius: 50%;
}

.slider .MuiSvgIcon-root:hover {
    color: #ffffff;
}

.slide {
    transition-duration: 1s ease;
    height: 100%;
}

.slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08)
}

.right-arrow {
    right: 0;
}