.movie_details {
    width: 100%;
    margin-top: 5vh;
    font-family: sans-serif;
}

.movie_details__main {
    display: grid;
    grid-template: 1fr auto /  15% 5fr 1fr 15%;
    column-gap: 2rem;
    row-gap: 2rem;
    margin-top: 2rem;
}

.movie_details__people {
    grid-column: 2/3;
    grid-row: 1/2;
}

.movie_details__img {
    grid-column: 2/3;
    grid-row: 2/3;
    height: 580px;
    justify-self: center;
    margin-bottom: 2rem;
}

.movie_details__right {
    grid-column: 3/4;
    grid-row: span 2;
}