.movie_details {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movie_details__main {
    max-width: 1280px;
    font-family: sans-serif;
    display: grid;
    grid-template: auto /  1fr 1fr;
    column-gap: 2rem;
    row-gap: 2rem;
    margin-top: 2rem;
}

.movie_details__people {
    width: 1075px;
    grid-column: 2/3;
    grid-row: 1/2;
}

.movie_details__img {
    grid-column: 2/3;
    grid-row: 2/3;
    height: 605px;
    justify-self: center;
    margin-bottom: 2rem;
}

.movie_details__right {
    grid-column: 3/4;
    grid-row: span 2;
}

.movie_details__related {
    grid-column: 2/3;
    grid-row: 3/4;
}