.movie_details__sidebar {
    padding: 20px;
    border-radius: 7px;
    width: 225px;
    background-color: #ebf1ff;
}

.movie_details__sidebar h4 {
    color: #393939;
    margin-bottom: .5rem;
}

.movie_details__sidebar p {
    margin-bottom: 1.5rem;
    font-size: 14px;
    color: #5e5f6b;
}

.keywords {
    margin-bottom: 1em;
}

.movie_details__keywords {
    display: flex;
    flex-wrap: wrap;
}

.movie_details__keyword {
    margin: 1px 0px 1px 2px;
    background-color: var(--primary-color);
    color: white;
    padding: 0px 5px 0px 5px;
    border-radius: 3px;
    line-height: 2;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    overflow: hidden;
    -webkit-box-orient: vertical;
    word-break: break-all;
}

.keywords__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: .5rem;
}