.card {
    margin-top: 20px;
    font-family: sans-serif;
    max-width: 140px;
    height: 260px;
    background-color: #ebf1ff;
    margin: 10px;
    overflow: hidden;
    border-radius: 7px;
}

.card__photo img {
    width: 100%;
}

.card__info {
    margin: 10px;
}

.card__info h4 {
    margin-bottom: 5px;
    color: #393939;
}

.card__info span {
    font-style: italic;
    color: gray;
    font-size: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    overflow: hidden;
    -webkit-box-orient: vertical;
}