.navbar {
    min-height: 7vh;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 10px;
    transition: 0.4s ease-out;
}

.navbar a {
    text-decoration: none;
}

.navbar a:focus {
    outline: none;
}

.navbar__logo {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.navbar__logo img {
    max-height: 5vh;
    margin-right: 10px;
    cursor: pointer;   
}

.navbar__logo h1 {
    font-family: 'Roboto Slab', serif;
    color: white;
    cursor: pointer;
}

.navbar__logo:hover {
    animation: logo 2s infinite;
}

@keyframes logo {
    from {
        filter: hue-rotate(0deg)
    }
    to {
        filter: hue-rotate(360deg)
    }
}

.navbar__search {
    width: 70%;
}

.navbar__search input {
    width: 100%;
    background-color: #e3e7f2;
    padding: 1rem;
    outline: none;
    border: none;
    border-radius: 7px;
    color: black;
    font-family: sans-serif;
    font-size: 1rem;
}

.navbar__search > .MuiSvgIcon-root {
    display: none;
    font-size: 2rem;
    cursor: pointer;
}

.navbar__login {
    text-align: right;
}

.navbar__login p {
    font-size: 1rem;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
}

.navbar__user {
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.navbar__avatar {
    height: 5vh;
    border-radius: 50%;
    margin-left: 1rem;
}

.navbar__home {
    min-height: 100vh;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 0 30px 0 10px;
    transition: 0.5s ease;
}

.navbar__home a {
    text-decoration: none;
}


.navbar__logo__home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar__logo__home img {
    cursor: pointer;
    height: 350px;
    margin-top: 1rem;
}

.navbar__logo__home h1 {
    font-family: 'Roboto Slab', serif;
    color: white;
    cursor: pointer;
    font-size: 5rem;
    margin-top: 1rem;
}

.navbar__logo__home p {
    color: #ccc;
}

.navbar__logo__home p span{
    font-weight: bold;
    color: white;
}

.navbar__search__home > .MuiSvgIcon-root {
    display: none;
    font-size: 2rem;
    cursor: pointer;
}

.navbar__search__home {
    width: 60%;
    margin-bottom: 2rem;
}

.navbar__search__home input {
    width: 100%;
    background-color: #e3e7f2;
    padding: 1rem;
    outline: none;
    border: none;
    border-radius: 7px;
    color: black;
    font-family: sans-serif;
    font-size: 1rem;
}

.navbar__login__home {
    margin-bottom: 2rem;
}

.navbar__login__home p {
    font-size: 1rem;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
}

@media screen and (max-width: 768px) {
    .navbar__logo {
        flex: 3;
    }

    .navbar__search {
        flex: 0;
    }
    
    .navbar__search input {
        display: none;
    }

    .navbar__search .navbar__searchIcon {
        display: block;
    }

    .navbar-search {
        display: block;
        padding: 10px;
    }

    .navbar__login {
        padding-left: 10px;
    }

    .navbar-search .navbar__logo, .navbar-search .navbar__login {
        display: none;
    }

    .navbar-search .navbar__search {
        position: relative;
        width: 100%;
    }

    .navbar-search .navbar__searchIcon {
        display: none;
    }

    .navbar-search .navbar__closeIcon {
        display: block;
        position: absolute;
        top: 8px;
        right: 10px;
        color: white;
    }

    .navbar-search .navbar__search input {
        display: block;
        width: 100%;
    }

    .navbar__user span {
        display: none;
    }
}