.paginated_container {
    border: 1px rgb(179, 179, 179) solid;
    border-radius: 7px;
    padding: 30px;
    width: 100%;
}

.paginated_container__actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.paginated_container__tab {
    background-color: transparent;
    border: none;
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: bold;
    margin-left: 10px;
    cursor: pointer;
    color: #393939;
}

.paginated_container__tab:focus {
    outline: none;
}

.paginated_container__tab:hover {
    color: rgb(165, 165, 165);
}

.paginated_container__tab.active {
    background-color: rgb(125 141 174);
    padding: 5px;
    border-radius: 7px;
    color: white;
}

.paginated_container__arrows {
    justify-self: end;
}

.paginated_container__items {
    display: grid; 
    grid-template: auto / 1fr 1fr 1fr 1fr 1fr;    
}

.paginated_container__item {
    justify-self: center;
}

.paginated_container__err {
    width: 1050px;
    font-weight: bold;
    text-align: center;
}